*{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.profile-card{
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.pic{
  display: inline-block;
  padding: 2px;
  background: linear-gradient(130deg, #000000, #ffffff);
  margin: auto;
  border-radius: 100%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

.pic img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: #ffffff;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a{
  color: #ffffff;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}

.contact-btn{
  display: inline-block;
  padding: 12px 50px;
  color: #e66767;
  border: 2px solid #fd0000;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}

.numbers{
  display: flex;
  align-items: center;
}

.item span{
  display: block;
  color: #0004ff;
  font-size: 30px;
}



